<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>@ViewBag.Title</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="/ToDoItem/Index/">List ToDos</a></li>
                    <li><a href="/ToDoItem/Create/">Create a ToDo</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            @RenderBody()
        </div>
        <div data-role="footer">
            <h4>
                ToDo footer</h4>
        </div>
    </div>
</body>
</html>
