@model ToDoMobile.Web.Models.ToDoItem
@{
	ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset data-role="fieldcontain">
		<div>
			@Html.LabelFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name)
		</div>
		<div>
			@Html.EditorFor(model => model.Name)
		</div>
		<div>
			@Html.LabelFor(model => model.Complete) @Html.ValidationMessageFor(model => model.Complete)
		</div>
		<div>
			@Html.EditorFor(model => model.Complete)
		</div>
	</fieldset>
	
	<p>
		<input type="submit" value="Create" />
	</p>
} 