@model ToDoMobile.Web.Models.ToDo
@{
    ViewBag.Title = "Edit to-do";
}
@using (Html.BeginForm())
{
    <div class="ui-body">
        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div data-role="fieldcontain">
            <label for="priority">
                Priority</label>
            <input type="range" name="priority" id="priority" value="@Model.Priority" min="1" max="3" />
        </div>
        <div data-role="fieldcontain">
            <label for="complete">
                Complete</label>
            <select name="complete" id="complete" data-role="slider">
                <option value="false">Not done</option>
                <option value="true" @(Model.Complete ? "selected='selected'" : "")>Done</option>
            </select>
        </div>
    </div>
    <div data-role="controlgroup" data-type="horizontal">
        <input type="submit" value="Save" data-icon="arrow-r" />
        <a href="/" data-role="button" data-icon="home">Cancel</a>
    </div>
}